{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2c0dedea0d862606822a0b84661af260",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "10"
            },
            {
              "name": "page_number",
              "value": "1"
            }
          ],
          "url": "https://api.zoom.us/v2/users?page_size=10&page_number=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 449,
            "text": "{\"page_count\":1,\"page_number\":1,\"page_size\":10,\"total_records\":1,\"users\":[{\"id\":\"a18JbG_DQketjPo0Y8wYqg\",\"first_name\":\"J1\",\"last_name\":\"Test\",\"email\":\"tj2488801@gmail.com\",\"type\":1,\"pmi\":0,\"verified\":0,\"created_at\":\"2021-10-24T06:16:56Z\",\"last_login_time\":\"2021-10-24T06:16:56Z\",\"pic_url\":\"https://lh3.googleusercontent.com/a/AATXAJy4ZWS6WyBZvx4Ujm476PKw65aih3KL0KVnJBTS=s96-c\",\"language\":\"en-US\",\"phone_number\":\"\",\"status\":\"active\",\"role_id\":\"0\"}]}"
          },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_haid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_tmaid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_htma[...]
