{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2c0dedea0d862606822a0b84661af260",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "10"
            },
            {
              "name": "page_number",
              "value": "1"
            }
          ],
          "url": "https://api.zoom.us/v2/users?page_size=10&page_number=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 515,
            "text": "{\"page_count\":1,\"page_number\":1,\"page_size\":10,\"total_records\":1,\"users\":[{\"id\":\"Qky6bkpAS1KoDGWeh6dsMg\",\"first_name\":\"Paul Grant\",\"last_name\":\"Ilaga\",\"email\":\"pgilaga@gmail.com\",\"type\":1,\"pmi\":6629177735,\"timezone\":\"\",\"verified\":1,\"created_at\":\"2019-01-23T11:23:52Z\",\"last_login_time\":\"2021-10-24T05:51:26Z\",\"last_client_version\":\"5.7.1.543(win)\",\"pic_url\":\"https://lh3.googleusercontent.com/a-/AOh14GiueuReYwcg_vJoqRWnBC8cq7GbiWmi9bdTbs55MQ\",\"language\":\"en-US\",\"phone_number\":\"\",\"status\":\"active\",\"role_id\":\"0\"}]}"
          },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_haid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_tmaid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_htma[...]
