{
  "log": {
    "_recordingName": "buildUserAndGroupsRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2c0dedea0d862606822a0b84661af260",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "10"
            },
            {
              "name": "page_number",
              "value": "1"
            }
          ],
          "url": "https://api.zoom.us/v2/users?page_size=10&page_number=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 445,
            "text": "{\"page_count\":1,\"page_number\":1,\"page_size\":10,\"total_records\":1,\"users\":[{\"id\":\"H9Yx0-O8QUCXVIseYAsjaA\",\"first_name\":\"JupiterOne\",\"last_name\":\"Development\",\"email\":\"development@jupiterone.dev\",\"type\":2,\"pmi\":4440405982,\"timezone\":\"America/New_York\",\"verified\":1,\"created_at\":\"2021-10-27T00:00:49Z\",\"last_login_time\":\"2021-10-28T03:29:30Z\",\"group_ids\":[\"ppUAdwEBRFCdRE0mfLttog\"],\"language\":\"\",\"phone_number\":\"\",\"status\":\"active\",\"role_id\":\"0\"}]}"
          },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_haid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_tmaid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_htma[...]
